[cue.31.sound_file_player.tape]
path = "tapes/31_tape.wav"

[cue.31.butterworth_lowpass_filter.monochord-ebow]

[cue.31.butterworth_lowpass_filter.monochord-hammer]

[cue.31.amplification.tuning-fork-right]

[cue.31.amplification.tuning-fork-left]

[cue.31.amplification.soprano]
