[cue.6_1.sound_file_player.tape]
path = "tapes/6_cdd-tape-1.wav"
decibel = -44

[cue.6_2.sound_file_player.tape]
path = "tapes/6_cdd-tape-2.wav"
decibel = -44

[cue.12.sound_file_player.tape]
path = "tapes/12_cdd.wav"
# decibel = -29
decibel = -20

[cue.146.sound_file_player.tape]
path = "tapes/146_cdd.wav"
# decibel = -22
decibel = -13
