{% set cue_name = "test-inputs" %}

[cue.{{ cue_name }}.butterworth_lowpass_filter.monochord-ebow]

[cue.{{ cue_name }}.butterworth_lowpass_filter.monochord-hammer]

[cue.{{ cue_name }}.amplification.tuning-fork-right]

[cue.{{ cue_name }}.amplification.tuning-fork-left]

[cue.{{ cue_name }}.amplification.soprano]

[cue.{{ cue_name }}.amplification.clarinet]

[cue.{{ cue_name }}.amplification.clavichord]
