{% set cue_name = "test-inputs" %}

[cue.{{ cue_name }}.butterworth_lowpass_filter.monochord-ebow]

[cue.{{ cue_name }}.butterworth_lowpass_filter.monochord-hammer]

[cue.{{ cue_name }}.butterworth_highpass_filter.tuning-fork-right]

[cue.{{ cue_name }}.harmonizer.tuning-fork-left]

[cue.{{ cue_name }}.butterworth_highpass_filter.soprano]

[cue.{{ cue_name }}.butterworth_highpass_filter.clarinet]

[cue.{{ cue_name }}.amplification.clavichord]
