{% macro load() %}

    [configure.module.butterworth_lowpass_filter.monochord-hammer]
    audio_input = "audio_input.monochord-hammer"

    [configure.module.value.butterworth_lowpass_filter_monochord-hammer_child_frequency]
    value = 5000

{% endmacro %}


{% set mixer_input_list = ["butterworth_lowpass_filter.monochord-hammer"] %}

{% macro channel_mapping() %}
                0 = [2, 3]
{% endmacro %}

{% set mixer_input_channel_mapping_list = [channel_mapping()] %}
