{% macro load() %}

    [configure.module.butterworth_highpass_filter.soprano]
    audio_input = "audio_input.soprano"

    [configure.module.value.butterworth_highpass_filter_soprano_child_frequency]
    value = 180

{% endmacro %}

{% set mixer_input_list = ["butterworth_highpass_filter.soprano"] %}

{% macro channel_mapping() %}
                0 = [0, 1, 2]
{% endmacro %}

{% set mixer_input_channel_mapping_list = [channel_mapping()] %}
