{% macro load() %}

    [configure.module.sound_file_player.tape]
    channel_count = 6

    # Needs to be provided, otherwise walkman raises an exception.
    # (this may be a bug, but I think it's because pyo sound file player
    #  needs a path at initialization time).
    [configure.module.sound_file_player.tape.default_dict]
    path = "tapes/31_tape.wav"

{% endmacro %}

{% macro channel_mapping() %}
            0 = 0
            1 = 1
            2 = 2
            3 = 3
            4 = 4
{% endmacro %}

{% set mixer_input_list = ["sound_file_player.tape"] %}
