{% macro load() %}

    [configure.module.amplification.tuning-fork-left]
    audio_input = "audio_input.tuning-fork-left"

{% endmacro %}

{% macro channel_mapping() %}
            0 = [1, 2]
{% endmacro %}

{% set mixer_input_list = ["amplification.tuning-fork-left"] %}
